.case_study_section {
    background-image: url('https://img.freepik.com/free-photo/close-up-bright-rangoli-colors-spread-background_23-2148054160.jpg?w=740&t=st=1699897008~exp=1699897608~hmac=8c9968e583bf275e1fa9e40c357bab4072677390388452a122175e5473da3e3f');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    /* Add other background properties as needed */
  }
  